*{
    box-sizing: border-box;
}

body{
    margin: 0; /*esto hace que no me quede espacio en ningun margen luego yo se los asigno cuando trabaje cada sector diferenciado*/
    font-family: 'Nunito Sans', sans-serif;
}

img{
    display: block;
    width: 100%;
    max-height: 100%; /*con esto todas las etiquetas img que no labure de manera diferenciada me van a ocupar el 100 de la pantalla*/
}

.container{
    width: 85%;/*ESTO ES IMPORTANTISIMO YO CREIA QUE LA PROPIEDAD FLEX WRARP ME DABA LA PROPIEDAD DE QUE CUANDO SE VA ACHICANDO LA PANTALLA SE VA ADAPTANDO EL CONTENIDO Y NO LO QUE LE DA ESA PROPIEDAD ES APLICARLE UN PORCENTAJE DE WIDTH         CON EL MARGIN AUTO HAGO QUE ME QUEDE EL MISMO ESPACIO TANTO IZQ COMO DERECHAM SIN EL MARGEN EJ SI PONGO 50 ME OCUPA LA MITAD DE LA PANTALLA PERO DE LA IZQ */
    margin: auto; 
}

.flexbox{
    display: flex; /*SIN el flex la el logo me ocupa el 100 con el flex se achica */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;/*el display flex me alinea por defecto uno alado del otro todos juntitos esto el between me los pone si son dos uno en cada punta sin son tres dos en las puntas y uno en el medio y asi. el alingn item me pone el contenido del div en el centro en relacion arriba abajo*/
}

/*//////////////////// ESTILOS HEADER LOGO Y DATOS////////////////////*/

.contacto{
    text-decoration: none;
    color: #2E4C7D;
    margin-right: 4px;
    font-size: 18px
}

.logo{
    width: 170px
}

.whasap{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 17px;
    right: 4.5%;
}

.location{
    margin-top: 10px;
    
}

.icon-location{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50px;
    right: 13%;
}


.location-txt{
    text-decoration: none;
    color: #2E4C7D;
    margin-right: 4px;
    font-size: 18px
}

/*///////////////////// ESTILOS HEADER NAV///////////////////////////////////*/
.header{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 33333;
    top: 0;
    transition: top 0.4S;
    padding-top: 4px;
/*con esto le di la apariencia asi me quedaba el menu fijo y le modifque el margin top del main asi no me quedaba bien sino se come un pedaso de main el header y para que funque le tengo que poner si o si a este top 0px asi me lo pone arriba de todo, sino es como que me queda el header con efecto marca de agua, despues cuando llege a determinado punto del scroll le modifico al header el top a -70 ponele y me saca de la vision de la pantalla la parte del logo y arriba de todo me queda solo el nav, cuando subo con el scroll hago lo mismo pero al reves y como tiene transition el cambio de top se hace con animacion, tengo que aplicar el cambio de top recien cuando alla pasado una distancia de scroll que al achicar el header no se me vea el espacio en blanco del margin top que habia aplicado, por que osa yo muevo el header para arriba pero lo demas me queda estatico, deberia sino tambien cambiar el margin y se me moveria ademas del header lo otro y quedaria feo /*/
}


.main-nav{
    background: #2E4C7D;
    /* el fondo del menu se lo aplico a este elemento y no al div de abajo por que si se lo aplico al div de abajo se me activa la propiedad del container para que alla un espacio a la izquierda y a la derecha en blanco y me queda el fondo sin ocupar todo el ancho de la pantalla*/

    
}

.menuContainer{
    height: 40px;/* estas propiedades me sirven para achicar el alto del menu sino me quedaba muy grande y si lo podia agrandar usando padding pero no lo podia reducir por eso use el height y al hacer eso no me quedaban las palabras en el medio y use la propiedad alig content center */
    align-content: center;
    margin-top: 14px;
    margin-left: 55px;/*con este lo acomode para que me empieze a la misma altura que el logo*/
}

.icon-menu{
     display:none; 
}


.menu{
    display: flex;
    list-style: none;
    
}

.menu-link{
    color: aliceblue;
    text-decoration: none;
    padding: 20px;/* con este padding genero la separacion entre las opciones sino me quedan todas juntitas no uso margin me aplica el pading en relacion izq dere*/
    font-size: 1.05em;
    font-weight: 400;
    
}
.menu-link:hover{
    background: white;
    color: #162D52;
}

.menu-link-inicio{
    background:#1E3249;
    padding: 10px; /*estos 3 padings los use para darle el tamaño justo por que sin esto me quedaba grande y no lo podia achicar con el height como con el contenedor pero en este caso si con los pading*/
    padding-left: 15px;
    padding-right: 15px;
}

/*////////////////////Main galeria de arriba//////////////////*/

.main{
    margin-top: 128px;
}
.containerSL{
    position: relative; /*este tiene relacion el posicion absolute de abajo osea todas las posiciones que les de yo con el top lef van a ser en relacion a esto, ej yo le di right 0 me lo toma en relacion a esto, si yo se lo saco me lo pono en relacion al margen del costado de todo y tambien tengo que tener en cuenta que cuando le pongo el posisition absolute se me sale todo lo que le aplique con flebox, ej yo queria alinearlo con el top pero alineado a los costados los avanzar y retrocer usando space betwen y no osea el absolute me quitaba eso y me los ponia a los dos juntos y a uno lo separe usando el right*/
    
}


.listaPuntos{
    list-style: none;
    display: flex;
    justify-content: center; /*este es para alinear los "elementos" del div en el medio en relacion izquierda derecha despues para alinear texto pongo text aling center y despues tengo el betwen el aling items es para relacion arriba abajo*/
}
.punto1{
    height: 14px;
    width: 14px;
    border: 2.0px solid #1E3249;/* el borde siempre se lo tengo que poner con estos 3 componentes sino no se activa*/
    border-radius: 50%;
    background: #1E3249;    
}

.puntos{
     height: 14px;
    width: 14px;
    border: 2.0px solid #1E3249;
    border-radius: 50%;
    background: white;    
}

.puntos, .punto1{
    margin-right: 33px;
}

.imagenSL{ 
    height: 100%;        
}

.simboloAR{
    color: white;
    align-content: center;
    font-size: 3.5em;
    text-align: center;
    font-weight: 900;
}
.containerAR1{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left:1.6%;
    padding-right: 1.6%;
    padding-bottom: 17.2%;
    padding-top: 17.2%;
    background: rgba(210,211,213,.39);
    position: absolute;
    z-index: 2000;
    top: 0px;
}

.containerAR2{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left:1.6%;
    padding-right: 1.6%; /* pongo todo en % por que con eso queda en tamaño escalable*/
    padding-bottom: 17.2%;
    padding-top: 17.2%;/*para agrandar un contenedor osea el fondo utilizo siempre el padding de esta manera, no utilizo el whidt y height, a eso solo lo utilizo para las imagenes*/
    background: rgba(210,211,213,.29);
    position: absolute;
    z-index: 2000;
    right: 0px;/* va 0 por que es 0 en relacion derecha izq*/
    top: 0px;
}

.containerAR2:hover{
    background: rgba(210,211,213,.59);
}

.containerAR1:hover{
    background: rgba(210,211,213,.59);
}

.ocultar{
    display: none;
}

/*/////////////Main VEHICULOS DISPONIBLES Y GALERIA DE ABAJO /////////////////////////*/


.vehiculos-disponiblesYgale{
    margin-top: -15px;
}

.VDparteizq{
    color: #1E3249;
    font-size: 30px;
    font-style: italic;/* letra en cursiva*/
    font-weight: 900; /*letra en negrita*/
}

.VDparteder{
    color: white;
    background: #1E3249;
    font-size: 17px;
    height: 30px; /* con estas 3 opciones lo que hize fue hacer que los bordes superior e inferior del contenedor queden pegados al texto, por que sino me quedaban mas alejados del text*/
    display: flex;
    align-items: center;
    font-weight: 900;
    padding-left: 30px;
    padding-right: 30px;
    
}

.galeria-abajo{
    display: flex;
    list-style: none;
    padding: 8px; /*este pading me sirve para agrandar en relacion arriba abajo y los de abajo me sirven para agrandar en relacion izq der y tambien tengo que poner el padding comun*/
    border-top: 1.2px solid #1E3249 ;
    border-bottom: 1.2px solid #1E3249 ;
}

.textoGaleria-abajo{
    color: #1E3249 ;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    position: relative;
    
}

.gl{
    margin-top: -30px;
}

.menu-link2{
    border-bottom: 4.0px solid #1E3249;
    font-weight: 900;    /*a esto lo voy a tener que hacer con el onclick por que no son links que me dirigan a otras paginas en las que me valla cambiando la clase menu link2 de uno a otro */
}

h2{
    position: relative;
}

.subrayadoAutos::after{
    content: ' ';
    position: absolute;
    background: #1E3249;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(1);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;    
}

.subrayadoMonovolumenes::after{
    content: ' ';
    position: absolute;
    background: #1E3249;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(1);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;    
}

.subrayadoSuv::after{
    content: ' ';
    position: absolute;
    background: #1E3249;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(1);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;    
}

.subrayadoPickups::after{
    content: ' ';
    position: absolute;
    background: #1E3249;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(1);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;    
}

h2::after{
    content: ' ';
    position: absolute;
    background: #E2D104;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(0);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;
}

h2:hover::after{
    transform: scale(1);
}

h1{
    position: relative;
}

.subClick1{
    transform: scale(1); 
}

h1::after{
    content: ' ';
    position: absolute;
    background: #eedb07;
    height: 6px;
    width: 100%;
    left: -1px;
    top: 33px;
    transform: scale(0);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;
}

h1:hover::after{
    transform: scale(1); 
}

h3{
    position: relative;
}

h3::after{
    content: ' ';
    position: absolute;
    background: #E2D104;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(0);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;
}

h3:hover::after{
    transform: scale(1); 
}

h4{
    position: relative;
}

h4::after{
    content: ' ';
    position: absolute;
    background: #E2D104;
    height: 6px;
    width: 100%;
    left: 0px;
    top: 33px;
    transform: scale(0);   /* el pseudo elemento ::after y ::before sirven para crear como un div vacio en relacion a un elemento que lo especifico en este caso es el h2 y puedo poner en content una frase en ves de hacer una forma en el heiht y widht que en este caso hise una linea y la posicione con top left etc y para que aparesca con animacion le puse aca trasform 0 y la tranzicion y cuando hago abajo el psudo clase hover mas el pseudo elemento ::after para que cuando le pase por arriba haga tal cosa ahi recien le pongo el transfor 1 que seria que aparesca y el transform 0 que no aparesca o no este*/
    transition: all 0.2s ease-in;
}

h4:hover::after{
    transform: scale(1); 
}

.container-containerVD{
    width: 85%;
    overflow: hidden;
    margin: auto;
}
.containerVD{
    width: 200%;
    margin: auto;
    margin-top: 20px;
    transform: translateX(0); /* lo que hize fue pillisimo mi problema era que en javascript no podia poner asi  containerGL.style.transform +="translateX(269px)"; con el mas igual para que se valla corriendo siempre una misma cantidad por que si yo queria que me quede la ima1 en el primer lugar le tenia qe poner en este div que es el que contiene todos las ima y txy , traslate -276, entonces cuando hacia click el primero me lleveba a la posicion 269px osea ni se movia, despues si andaba bien obvio por que se iva sumando. entonses para que me quede bien posicionado y que pueda partir del 0 en eje x y asi poder poner containerGL.style.transform +="translateX(269px) fue usar el div padre para moverlo poniendolo en 0 y despues seleccionando todos los div uno por uno modificar la posicion como hice en el de abajo, sino iva a tener que en javascript especificar que en el primer click tenga esta posicioen el segundo esta y asi un bodio era*/
    transition: all 1s ease-in ;
}
.contenedor-img-texto{
    transform: translate(-276px); 

 }
    

.imgVD{
    width: 270px;
}

.texto-imgVD{
    text-align: center;
    font-size: 1.5em;
    color: #2E4C7D;
    font-weight: 900;
    margin-top: 3px;
}

.simbolo2{
    color: #1E3249;
    align-content: center;
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    z-index: 4000;
    position: relative;
    top: -120px;
    cursor: pointer;
}



.container3{
    width: 90%;
    margin: auto;

    
}

.flexbox2{
    display: flex; /*SIN el flex la el logo me ocupa el 100 con el flex se achica */
    align-items: center
}

.containerMono, .containerSuv, .containerPic{
    width: 88%;
    margin: auto;
    display: none;
}
/*////////////////////IMAGENES DE ABAJO ///////////////////////////////////*/

.txt-abajo1, .txt-abajo2, .txt-abajo3{
    background: rgb(0,0,0,0.65);
    color: white;
    font-size: 1.2em;
    font-weight: 900;
    padding: 3.5px;
    position: absolute;
    top: 1075px;
    
}

.ima-abajo{
    height: 170px;
    width: 345px;
    margin-top: -11px
}

.caca{
    margin-top: -50px
}

/*///////////////////////TEXTO DE ABAJO ///////////////////////*/

.texto1{
    color: #1E3249 ;
    font-weight: 900;
    font-size: 2.5em;
    font-style: italic;
}

h7,h8,h9{
    color: black;
    font-weight: 900;
}

.texto2{
    color: #1E3249;
    font-size: 1.2em;
    margin-top: -22px
}

.texto3{
    color: #1E3249;
    font-size: 2.2em;
    font-weight: 900;
}

.texto4{
    color: #1E3249;
    font-size: 1.2em;
}

.ultima-imagen2{
    height: 25px;
    width: 200px
}

.caca2{
    display: flex;
    justify-content:flex-end; /*con el justify content alineo la imagen en relacion izq derecha*/
}

/*ANIMACIONES SCROLL IMAGENES DE ABAJO Y TEXTOS DE ABAJO ////////*/
.scroll{
    opacity: 0;
    transition: all 1s ease-in;
}

.animacionTextos1{
    animation: animacionTextos1 4s;
}

@keyframes animacionTextos1 {
    0%{
         transform: translateX(400px);
        
    }
    
    100%{
        transform: translateX(0);
    }
}

.animacionTextos2{
    animation: animacionTextos2 4s;
}

@keyframes animacionTextos2 {
    0%{
         transform: translateX(-400px);
        
    }
    
    100%{
        transform: translateX(0);
    }
}



/*//////////////////////////////FOOTER********************************************/

.partearriba-footer{
    font-size: 1.1em;
    font-weight: 900;
    margin-bottom: 5px
}

.flexbox3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.caca3{
    border-top: 1.2px solid white ;
    margin-bottom: 60px;
    margin-top: 0px
}

.footer{
    background: #2E4C7D;
    color: white;
    
}

.tercerDiv-footer{
    border-top: 1.2px solid white ;
    display: flex;
    margin-left: 78px;
}

.tercerDiv-footer1, .tercerDiv-footer2, .tercerDiv-footer3{
    padding: 15px;
    font-size: 1.1em;
    
}

.tercerDiv-footer2{
    border-right: 1.2px solid white ;
}

 /**************************ALINEACION COLUMNAS FOOTER//*/

.columna1-footer{
    position:relative;
}
.columna2-footer{
    margin-left: -51px;
}

.columna4-footer{
    margin-right: 28px   
}
.columna5-footer{
    margin-right: -6px
}
/*****************************************desplegable vehiculos footer/*/

.elegir-modelo-footer{
    width: 60%;
    background: white;
    color: #1E3249;
    padding: 4px;
    border: 1.0px solid #197BEA;
    position: absolute;
    top: 60px;
    cursor: pointer;
    
}

.desplegable-footer{
    
    background: white;
    color: black;
    list-style: none;
    font-size: 1.1em;
    border: 1.0px solid #197BEA;
    position: absolute;
    top: 69px;
    width: 60%;
    cursor: pointer;
    transform: scale(0);
    transition: all 0.2s ease-in;
  

}
.mostrar-desplegable{
    
    transform: scale(1);
}

.contenido-df{
    margin-left: -38px;
    color: #1E3249;

}
.contenido-df:hover{
    color: white;
    background: #197BEA; 
    
}





.efectoGaleriaArriba{
    animation: efectoGaleriaArriba 2s;
}

@keyframes efectoGaleriaArriba{
    0%{
         opacity: 0%;
        
    }
    100%{
        opacity: 100%;
    }
}



@media screen   
and (min-device-width: 100px)   
and (max-device-width: 340px){
    .VDparteizq{
        text-align: center;
        font-size: 22px;
    }
}

@media screen   
and (min-device-width: 320px)   
and (max-device-width: 344px){
    .VDparteizq{
        text-align: center;
        font-size: 25px;
    }
}


@media screen   
and (min-device-width: 100px)   
and (max-device-width: 282px){
    
    .textoGaleria-abajo{
        font-size: 10px;
        padding: 3px;
    }
}

@media screen   
and (min-device-width: 282px)   
and (max-device-width: 320px){
    
    .textoGaleria-abajo{
        font-size: 10px;
        padding: 4px;
    }
}



@media screen   
and (min-device-width: 320px)   
and (max-device-width: 340px){
    
    .textoGaleria-abajo{
        font-size: 11px;
        padding: 4px;
    }
}

@media screen   
and (min-device-width: 340px)   
and (max-device-width: 720px){
    
    .textoGaleria-abajo{
        font-size: 12px;
        padding: 5px;
    }
}




@media screen   
and (min-device-width: 0px)   
and (max-device-width: 504px){ 
    .container-containerVD{
    width: 70%;
    }
}


@media screen   
and (min-device-width: 504px)   
and (max-device-width: 720px){ 
    .contenedor-img-texto{
        transform: translate(-200px); 
    
     }
    
    .container-containerVD{
    width: 82%;
    }
}

@media screen   
and (min-device-width: 260px)   
and (max-device-width: 272px){
    .tercerDiv-footer1, .tercerDiv-footer2, .tercerDiv-footer3{
        padding: 13px;
    }     
}

@media screen   
and (min-device-width: 260px)   
and (max-device-width: 282px){
    .txt-abajo1, .txt-abajo2, .txt-abajo3{
        font-size: 11px;
        top: 127px;
    }     
}

@media screen    
and (min-device-width: 282px)   
and (max-device-width: 305px){
    .txt-abajo1, .txt-abajo2, .txt-abajo3{
        font-size: 12px;
        top: 125px;
    }     
}

@media screen   
and (min-device-width: 305px)   
and (max-device-width: 720px){
    .txt-abajo1, .txt-abajo2, .txt-abajo3{
        font-size: 13px;
        top: 125px;
    }     
}

@media screen   
and (min-device-width: 0px)   
and (max-device-width: 480px){
    
    
    .menu{
        display: block;
        position: absolute;/*lo pongo por que tiene un menu desplegable y con el top  left y text aling center maso menos lo posiciono donde va a estar ubicado cuando haga click en el icono del menu,*/
        top: 40px;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;/*esto es para sacarle los iconitos quw tiene al lado los iconos de lista, osea con el margin y padding 0 ya salian, pero por las dudas se lo mando*/
        background: rgba(0,0,0,.85);
        overflow: hidden;
        /*height: 260px;*/
        height: 0px;
        transition: height .3s linear; /* ver menu.js esto me aplica el efecto de animacion a la propiedad heighy, hace que se despliegue en 3 seg de formar linear*/
    }

    .logo{
        width: 50%;
    }

    .icon-menu{ 
        display: block;
        color: white;
        border: 2px solid white;
        border-radius: 3px;
        width: 36px;
        height: 38px;
        line-height: 45px;/* esta propiedad la uso para luego alinearlo en el centro con text aling center*/
        margin-left: -32px;
        cursor: pointer;/*esto es para que cuando pase el maus por arriba se cambie a una manito*/
        font-size: 2em;
    }


    .mostrar{
        height: 260px;
    }

    .menu-link-inicio{/*se lo aplico a los link del menu, inicio, contacto,galeria, nosotros*/
    background: #887f05;
    }

    .footer{
        font-size: 12px;
    }

}

@media screen   
and (min-device-width: 480px)   
and (max-device-width: 720px){
    .main-nav{
        margin-top: -5px;
        
    }
    .logo{
        margin-top: 5px;
        width: 20%;
    }     

    .menu{
        font-size: 15px;
        margin-left: -75px;
    }

    .footer{
        font-size: 13px;
    }
}



@media screen and (max-width:720px){

    .column100{
        width: 100%;
    }

    .DatosContainer{
        display: none;
    }

    .main-nav{
        position: relative
    }


    .menu-link{/*se lo aplico a los link del menu, inicio, contacto,galeria, nosotros*/
        padding: 9px;
        display: block;/*sin el display block la propiedad de padding no me agrandaba nada quedaba igual*/
        text-decoration: none;
    }

    .galeria-arriba{
        height: 200px;
    }
    
    .simboloAR{
        font-weight: 500;
    }

    .imagenSL{ 
        height: 100%;        
    }

    .containerAR1, .containerAR2{
        height: 100%;
    }

    .VDparteizq{
        margin-top: 20px;
    }

    .VDparteder{
        display: none;
    }


    .contenedor-galeria-de-abajo{
        width: 94%;
        margin-top: -30px;
    }

    .texto-imgVD{
        font-size: 20px;
    
    }

    .imgVD{
        width: 200px;
    }


    .container3{
        width: 95%;
    }

    .subClick1, .subClick2, .subClick3, .subClick4{
        display: none;
    }

    .texto-imgVD{
        font-weight: 500;
    }

    .simbolo2{
        font-weight: 600;
    }
    
    .containerMono, .containerPic, .containerSuv{
        flex-wrap: wrap;
        justify-content: center;
    }
    


    .containerImagenesDeAbajo{
        justify-content:center ;
        margin-top: 5px;
    }

    .ima-abajo{
        width: 100%;
        margin-bottom: 50px;
    }

    .contenedor-ima-txt-abajo1, .contenedor-ima-txt-abajo2, .contenedor-ima-txt-abajo3{
        position: relative;
    }
    
    .txt-abajo1, .txt-abajo2, .txt-abajo3{
        padding: 8px;
        width: 100%;
        position: absolute;
        margin: auto;
    }

    .footer{
        margin-top: 40px;
    }

    .horarios, .nada, .columna4-footer, .columna5-footer{
        display: none;
    }


    .tercerDiv-footer{
        margin-top: -33px;
        width: 100%;
        margin-left: 0;
        font-size: 12px;
    }
    
    .caca3{
        width: 100%;    
    }

    .columna1-footer{
        margin-left: 15px;
    }

    .columna2-footer{
        margin-left: -63px;
    
    }

    .columna3-footer{
        margin-right: 27px;
    }

    .textoDesplegableCoches{
        width: 70%;
        display: flex;
        flex-wrap: wrap;

    }

    .texto3{
       font-size: 25px;
    }
    
    .desplegable-footer{
        top: 59px;
        width: 60%;
    }

    .elegir-modelo-footer{
        width: 60%;
    }

}   



@media screen and (min-width:720px){

   
    .container3{
        width: 95%;
    }
   
   
    .containerImagenesDeAbajo{
        justify-content:center ;
        margin-top: 5px;
    }

    .ima-abajo{
        width: 100%;
        margin-bottom: 50px;
    }

    .contenedor-ima-txt-abajo1, .contenedor-ima-txt-abajo2, .contenedor-ima-txt-abajo3{
        position: relative;
    }
    
    .txt-abajo1, .txt-abajo2, .txt-abajo3{
        padding: 8px;
        width: 100%;
        position: absolute;
        margin: auto;
        font-size: 15px;
        top: 124px;
    }

}


@media screen   
and (min-device-width: 720px)   
and (max-device-width: 820px){

    .textoDesplegableCoches{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }     

    .elegir-modelo-footer{
        top: 70px;
    }

    .desplegable-footer{
        top: 79px;
    }

}

@media screen   
and (min-device-width: 955px)   
and (max-device-width: 1291px){

    .contenedor-ima-txt-abajo1, .contenedor-ima-txt-abajo2, .contenedor-ima-txt-abajo3{
        width: 30%;
    }

    .contenedor-ima-txt-abajo2{
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media screen and (min-width:1291px){
    .ima-abajo{
        height: 170px;
        width: 345px;
    }

    .contenedor-ima-txt-abajo2{
        margin-left: 30px;
        margin-right: 30px;
    }
}




