/*Estilos de los coches de la galeria de abajo, es el espaciado para cuando lo voy pasando. El problema que tenia es que no le podia poner a todos el mismo margin por que cuando iba adelantando como que los ultimos me iban comiendo espacio, entonces les puse marenes distintos asi quedaban bien y una ves acomodaados en los otros tamaños puse todos iguales y solo fui agregando margin izquierdo al primero, asi onda me movia el contenedor entero */
@media screen   
and (min-device-width: 260px)   
and (max-device-width: 275px){ 

    .contenedor-img-texto1{
        
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 70px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }

}

@media screen   
and (min-device-width: 275px)   
and (max-device-width: 310px){ 

    .contenedor-img-texto1{
        margin-left: 10px;
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 73px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }
}

@media screen   
and (min-device-width: 310px)   
and (max-device-width: 335px){ 

    .contenedor-img-texto1{
        margin-left: 20px;
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 73px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }

}

@media screen   
and (min-device-width: 335px)   
and (max-device-width: 360px){ 

    .contenedor-img-texto1{
        margin-left: 30px;
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 73px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }

}

@media screen   
and (min-device-width: 360px)   
and (max-device-width: 385px){ 

    .contenedor-img-texto1{
        margin-left: 40px;
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 73px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }

}

@media screen   
and (min-device-width: 385px)   
and (max-device-width: 460px){ 

    .contenedor-img-texto1{
        margin-left: 50px;
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 73px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }

}

@media screen   
and (min-device-width: 460px)   
and (max-device-width: 504px){ 

    .contenedor-img-texto1{
        margin-left: 81px;
        margin-right: 70px;
    }
 
    .contenedor-img-texto2{
        
        margin-right: 73px;
    }

    .contenedor-img-texto3{
        
        margin-right: 65px; 
    }

    .contenedor-img-texto4{
        
        margin-right: 65px;
        
    }

    .contenedor-img-texto5{
        
        margin-right: 73px;
        
    }

    .contenedor-img-texto6{
        
        margin-right: 70px;
        
    }

}


@media screen   
and (min-device-width: 504px)   
and (max-device-width: 546px){ 

    .contenedor-img-texto1{
        margin-left: -10px;
        margin-right: 15px;
        
    }
 
    .contenedor-img-texto2{
        margin-right: 15px;
        
    }

    .contenedor-img-texto3{
        margin-right: 15px;
        
    }

    .contenedor-img-texto4{
        margin-right: 15px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 15px;
        
        
        
    }

}


@media screen   
and (min-device-width: 546px)   
and (max-device-width: 566px){ 

   .contenedor-img-texto1{
        margin-left: -10px;
        margin-right: 28px;
        
    }
 
    .contenedor-img-texto2{
        margin-right: 28px;
        
    }

    .contenedor-img-texto3{
        margin-right: 38px;
        
    }

    .contenedor-img-texto4{
        margin-right: 38px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 38px;
        
        
        
    }

    .contenedor-img-texto6{
        margin-right: 38px;
        
        
    }


}

@media screen   
and (min-device-width: 566px)   
and (max-device-width: 586px){ 

   .contenedor-img-texto1{
        margin-left: -10px;
        margin-right: 28px;
        
    }
 
    .contenedor-img-texto2{
        margin-right: 28px;
        
    }

    .contenedor-img-texto3{
        margin-right: 48px;
        
    }

    .contenedor-img-texto4{
        margin-right: 48px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 48px;
        
        
        
    }

    .contenedor-img-texto6{
        margin-right: 38px;
        
        
    }


}

@media screen   
and (min-device-width: 586px)   
and (max-device-width: 616px){ 

   .contenedor-img-texto1{
        margin-left: 0px;
        margin-right: 38px;
        
    }
 
    .contenedor-img-texto2{
        margin-right: 28px;
        
    }

    .contenedor-img-texto3{
        margin-right: 48px;
        
    }

    .contenedor-img-texto4{
        margin-right: 48px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 48px;
        
        
        
    }

    .contenedor-img-texto6{
        margin-right: 38px;
        
        
    }


}

@media screen   
and (min-device-width: 616px)   
and (max-device-width: 636px){ 

   .contenedor-img-texto1{
        margin-left: 2px;
        margin-right: 38px;
        
    }
 
    .contenedor-img-texto2{
        margin-right: 32px;
        
    }

    .contenedor-img-texto3{
        margin-right: 48px;
        
    }

    .contenedor-img-texto4{
        margin-right: 48px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 48px;
            
    }

    .contenedor-img-texto6{
        margin-right: 38px;
        
    }

}


@media screen   
and (min-device-width: 636px)   
and (max-device-width: 656px){ 

   .contenedor-img-texto1{
        margin-left: -15px;
        margin-right: 58px;
        
    }
 
    .contenedor-img-texto2{ 
        margin-right: 52px;
        
    }

    .contenedor-img-texto3{
        margin-right: 95px;
        
    }

    .contenedor-img-texto4{
        margin-right: 68px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 78px;
            
    }

    .contenedor-img-texto6{
        margin-right: 58px;
        
        
    }


}





@media screen   
and (min-device-width: 656px)   
and (max-device-width: 720px){ 

   .contenedor-img-texto1{
        margin-left: -15px;
        margin-right: 58px;
        
    }
 
    .contenedor-img-texto2{ 
        margin-right: 68px;
        
    }

    .contenedor-img-texto3{
        margin-right: 95px;
        
    }

    .contenedor-img-texto4{
        margin-right: 68px;
        
        
    }

    .contenedor-img-texto5{
        margin-right: 78px;
            
    }

    .contenedor-img-texto6{
        margin-right: 58px;
        
        
    }
}


@media screen   
and (min-device-width: 720px)   
and (max-device-width: 780px){ 

   .contenedor-img-texto1{
        margin-left: 1px;
        margin-right: 40px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 42px;
    }

    .contenedor-img-texto3{
        margin-right: 37px;
    }

    .contenedor-img-texto4{
        margin-right: 37px;
    }

    .contenedor-img-texto5{
        margin-right: 35px;
    }

    .contenedor-img-texto6{
        margin-right: 40px;   
    }
}

@media screen   
and (min-device-width: 780px)   
and (max-device-width: 840px){ 

   .contenedor-img-texto1{
        margin-left: -10px;
        margin-right: 60px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 72px;
    }

    .contenedor-img-texto3{
        margin-right: 56px;
    }

    .contenedor-img-texto4{
        margin-right: 50px;
    }

    .contenedor-img-texto5{
        margin-right: 69px;
    }

    .contenedor-img-texto6{
        margin-right: 60px;   
    }
}

@media screen   
and (min-device-width: 840px)   
and (max-device-width: 900px){ 

   .contenedor-img-texto1{
        margin-left: 10px;
        margin-right: 60px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 95px;
    }

    .contenedor-img-texto3{
        margin-right: 76px;
    }

    .contenedor-img-texto4{
        margin-right: 70px;
    }

    .contenedor-img-texto5{
        margin-right: 80px;
    }

    .contenedor-img-texto6{
        margin-right: 80px;   
    }
}


@media screen   
and (min-device-width: 900px)   
and (max-device-width: 960px){ 

   .contenedor-img-texto1{
        margin-left: 10px;
        margin-right: 60px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 115px;
    }

    .contenedor-img-texto3{
        margin-right: 96px;
    }

    .contenedor-img-texto4{
        margin-right: 90px;
    }

    .contenedor-img-texto5{
        margin-right: 90px;
    }

    .contenedor-img-texto6{
        margin-right: 100px;   
    }
}

@media screen   
and (min-device-width: 960px)   
and (max-device-width: 1020px){ 

   .contenedor-img-texto1{
        margin-left: 10px;
        margin-right: 60px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 135px;
    }

    .contenedor-img-texto3{
        margin-right: 126px;
    }

    .contenedor-img-texto4{
        margin-right: 120px;
    }

    .contenedor-img-texto5{
        margin-right: 120px;
    }

    .contenedor-img-texto6{
        margin-right: 130px;   
    }
}

@media screen   
and (min-device-width: 1020px)   
and (max-device-width: 1040px){ 

   .contenedor-img-texto1{
       margin-left: 10px;
        margin-right: 10px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 25px;
    }

    .contenedor-img-texto3{ 
        margin-right: 15px;
    }

    .contenedor-img-texto4{ 
        margin-right: 20px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 15px;
    }

    .contenedor-img-texto6{ 
        margin-right: 15px;
    }
}



@media screen   
and (min-device-width: 1040px)   
and (max-device-width: 1080px){ 

   .contenedor-img-texto1{
       margin-left: 10px;
        margin-right: 20px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 35px;
    }

    .contenedor-img-texto3{ 
        margin-right: 25px;
    }

    .contenedor-img-texto4{ 
        margin-right: 30px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 25px;
    }

    .contenedor-img-texto6{ 
        margin-right: 25px;
    }
}

@media screen   
and (min-device-width: 1080px)   
and (max-device-width: 1120px){ 

   .contenedor-img-texto1{
       margin-left: 10px;
        margin-right: 30px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 45px;
    }

    .contenedor-img-texto3{ 
        margin-right: 35px;
    }

    .contenedor-img-texto4{ 
        margin-right: 40px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 35px;
    }

    .contenedor-img-texto6{ 
        margin-right: 35px;
    }
}


@media screen   
and (min-device-width: 1120px)   
and (max-device-width: 1160px){ 

   .contenedor-img-texto1{
       margin-left: 10px;
        margin-right: 40px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 55px;
    }

    .contenedor-img-texto3{ 
        margin-right: 45px;
    }

    .contenedor-img-texto4{ 
        margin-right: 50px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 45px;
    }

    .contenedor-img-texto6{ 
        margin-right: 45px;
    }
}


@media screen   
and (min-device-width: 1160px)   
and (max-device-width: 1200px){ 

   .contenedor-img-texto1{
       margin-left: -10px;
        margin-right: 50px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 65px;
    }

    .contenedor-img-texto3{ 
        margin-right: 70px;
    }

    .contenedor-img-texto4{ 
        margin-right: 70px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 65px;
    }

    .contenedor-img-texto6{ 
        margin-right: 65px;
    }
}


@media screen   
and (min-device-width: 1200px)   
and (max-device-width: 1240px){ 

   .contenedor-img-texto1{
       margin-left: -10px;
        margin-right: 50px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 65px;
    }

    .contenedor-img-texto3{ 
        margin-right: 70px;
    }

    .contenedor-img-texto4{ 
        margin-right: 80px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 75px;
    }

    .contenedor-img-texto6{ 
        margin-right: 75px;
    }
}

@media screen   
and (min-device-width: 1200px)   
and (max-device-width: 1240px){ 

   .contenedor-img-texto1{
       margin-left: -10px;
        margin-right: 50px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 65px;
    }

    .contenedor-img-texto3{ 
        margin-right: 70px;
    }

    .contenedor-img-texto4{ 
        margin-right: 80px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 75px;
    }

    .contenedor-img-texto6{ 
        margin-right: 75px;
    }
}

@media screen   
and (min-device-width: 1200px)   
and (max-device-width: 1240px){ 

   .contenedor-img-texto1{
       margin-left: -10px;
        margin-right: 50px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 65px;
    }

    .contenedor-img-texto3{ 
        margin-right: 70px;
    }

    .contenedor-img-texto4{ 
        margin-right: 80px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 75px;
    }

    .contenedor-img-texto6{ 
        margin-right: 75px;
    }
}

@media screen   
and (min-device-width: 1240px)   
and (max-device-width: 1280px){ 

   .contenedor-img-texto1{
       margin-left: -10px;
        margin-right: 60px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 75px;
    }

    .contenedor-img-texto3{ 
        margin-right: 90px;
    }

    .contenedor-img-texto4{ 
        margin-right: 100px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 105px;
    }

    .contenedor-img-texto6{ 
        margin-right: 105px;
    }
}

@media screen   
and (min-device-width: 1280px)   
and (max-device-width: 1320px){ 

   .contenedor-img-texto1{
       margin-left: 0px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 10px;
    }

    .contenedor-img-texto3{ 
        margin-right: 10px;
    }

    .contenedor-img-texto4{ 
        margin-right: 10px;
    }
   
    
}


@media screen   
and (min-device-width: 1320px)   
and (max-device-width: 1360px){ 

   .contenedor-img-texto1{
       margin-left: -15px;
       margin-right: 10px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 20px;
    }

    .contenedor-img-texto3{ 
        margin-right: 25px;
    }

    .contenedor-img-texto4{ 
        margin-right: 22px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 25px;
    }

    .contenedor-img-texto6{ 
        margin-right: 20px;
    }
}


@media screen   
and (min-device-width: 1360px)   
and (max-device-width: 1400px){ 

   .contenedor-img-texto1{
       margin-left: -30px;
       margin-right: 25px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 33px;
    }

    .contenedor-img-texto3{ 
        margin-right: 38px;
    }

    .contenedor-img-texto4{ 
        margin-right: 32px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 35px;
    }

    .contenedor-img-texto6{ 
        margin-right: 30px;
    }
}


@media screen   
and (min-device-width: 1400px)   
and (max-device-width: 1440px){ 

   .contenedor-img-texto1{
       margin-left: -30px;
       margin-right: 35px;
    }
 
    .contenedor-img-texto2{ 
        margin-right: 40px;
    }

    .contenedor-img-texto3{ 
        margin-right: 41px;
    }

    .contenedor-img-texto4{ 
        margin-right: 42px;
    }
   
    .contenedor-img-texto5{ 
        margin-right: 45px;
    }

    .contenedor-img-texto6{ 
        margin-right: 40px;
    }
}

